<div class="flex my-4" style="border: 1px solid #eee; border-radius: 5px;">
    <div class="ml-3">
        <h4 style="color: #4e4e4e;">
            <i class="pi pi-home mr-2 mt-1" style="color: #4e4e4e" [routerLink]="['/dashboard']"></i>
            <i class="pi pi-angle-right mr-2 mt-1" style="color: #4e4e4e"></i>              
            Contingents
        </h4>
    </div>
</div>

<div class="my-4 p-4" style="border: 1px solid #eee; border-radius: 5px;">

    <h3 style="opacity: 40%;">Contingent Form</h3>

    <form [formGroup]="contingentForm">
        <div class="flex gap-4">
            <div class="flex flex-column">
                <label for="contingent" class="my-2">Contingent:</label>
                <input 
                    pInputText 
                    id="contingent" 
                    formControlName="name"
                    aria-describedby="Contingent" 
                />
            </div>
        </div>

        <div class="flex gap-3 my-4">
            <div class="flex flex-column">
                <label for="date" class="my-2">Normal days range:</label>
                <p-calendar 
                    selectionMode="range"
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    inputId="buttondisplay" 
                    formControlName="normalDate"
                ></p-calendar>
            </div>
            <div class="flex flex-column">
                <label for="normalDayValue" class="my-2">Capacity value for normal days:</label>
                <input 
                    pInputText 
                    id="normalDayValue" 
                    formControlName="normalDayValue"
                    aria-describedby="NormalDayValue"
                />
            </div>
        </div>

        <p style="font-weight: 550;">The date range should cover the entire week but exclude weekend days.</p>

        <div class="flex gap-3 my-4">
            <div class="flex flex-column">
                <label for="weekDate" class="my-2">Weekend date range:</label>
                <p-calendar 
                    selectionMode="range"
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    inputId="buttondisplay" 
                    formControlName="weekDate"
                ></p-calendar>
            </div>
            <div class="flex flex-column">
                <label for="weekendDayValue" class="my-2">Capacity value for weekends:</label>
                <input 
                    pInputText 
                    id="weekendDayValue" 
                    formControlName="weekendDayValue"
                    aria-describedby="WeekendDayValue"
                />
            </div>
        </div>

        <p style="font-weight: 550;">The date should fall on the weekend days.</p>

        <div class="flex gap-3 my-4">
            <div class="flex flex-column">
                <label for="carPark" class="my-2">CarPark:</label>
                <select (change)="carParkChange($event)"  
                        class=" select-style">
                        <option value="0 0/1 * 1/1 * ? *">Every 1 minutes</option>
                        <option value="0 0 10 1/1 * ? *">Every day at 10 AM</option>
                        <option value="0 0 0/1 1/1 * ? *">Every hour starting 10 AM</option>
                        <option value="0 0 10 ? * TUE,THU *">Every week Tue and Thur at 10 AM</option>
                </select>
            </div>
            <div class="flex flex-column">
                <label for="facility" class="my-2">Facility:</label>
                <select (change)="facilityChange($event)"  
                    class=" select-style">
                    <option value="0 0/1 * 1/1 * ? *">Every 1 minutes</option>
                    <option value="0 0 10 1/1 * ? *">Every day at 10 AM</option>
                    <option value="0 0 0/1 1/1 * ? *">Every hour starting 10 AM</option>
                    <option value="0 0 10 ? * TUE,THU *">Every week Tue and Thur at 10 AM</option>
                 </select>
            </div>
        </div>

        <div class="flex flex-row-reverse">
            <button class="btn-b"  [disabled]="contingentForm.invalid" (click)="submit()">Submit <i class="pi pi-check"></i></button>
        </div>
    </form>
</div>

<div class="my-4 p-4" style="border: 1px solid #eee; border-radius: 5px;">
    <h3 style="opacity: 40%;">Contingents List</h3>
</div>