<div class="flex my-4" style="border: 1px solid #eee; border-radius: 5px;">
    <div class="ml-3">
        <h4 style="color: #4e4e4e;">
            <i class="pi pi-home mr-2 mt-1" style="color: #4e4e4e" [routerLink]="['/dashboard']"></i>
            <i class="pi pi-angle-right mr-2 mt-1" style="color: #4e4e4e"></i>              
            Contingents
        </h4>
    </div>
</div>

<div class="my-4 p-4" style="border: 1px solid #eee; border-radius: 5px;">

    <h3 style="opacity: 40%;">Contingent Form</h3>

    <form [formGroup]="contingentForm">
        <div class="flex gap-4">
            <div class="flex flex-column">
                <label for="contingent" class="my-2">Contingent:</label>
                <input 
                    pInputText 
                    id="contingent" 
                    formControlName="name"
                    aria-describedby="Contingent" 
                />
            </div>
        </div>

        <div class="flex gap-3 my-4">
            <div class="flex flex-column">
                <label for="date" class="my-2">Normal days range:</label>
                <p-calendar 
                    selectionMode="range"
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    inputId="buttondisplay" 
                    formControlName="normalDate"
                ></p-calendar>
            </div>
            <div class="flex flex-column">
                <label for="normalDayValue" class="my-2">Capacity value for normal days:</label>
                <!-- <input 
                    pInputText 
                    id="normalDayValue" 
                    formControlName="normalDayValue"
                    aria-describedby="NormalDayValue"
                    /> -->
                    <p-inputNumber 
                    mode="decimal" 
                    inputId="withoutgrouping" 
                    formControlName="normalDayValue"
                    [useGrouping]="false" />
            </div>
        </div>

        <p style="font-weight: 550;">The date range should cover the entire week but exclude weekend days.</p>

        <div class="flex gap-3 my-4">
            <div class="flex flex-column">
                <label for="weekDate" class="my-2">Weekend date range:</label>
                <p-calendar 
                    selectionMode="range"
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    inputId="buttondisplay" 
                    formControlName="weekDate"
                ></p-calendar>
            </div>
            <div class="flex flex-column">
                <label for="weekendDayValue" class="my-2">Capacity value for weekends:</label>
                <!-- <input 
                    pInputText 
                    id="weekendDayValue" 
                    formControlName="weekendDayValue"
                    aria-describedby="WeekendDayValue"
                /> -->
                <p-inputNumber 
                    mode="decimal" 
                    inputId="withoutgrouping" 
                    formControlName="weekendDayValue"
                    [useGrouping]="false" />
            </div>
        </div>

        <p style="font-weight: 550;">The date should fall on the weekend days.</p>

        <div class="flex gap-3 my-4">
            <div class="flex flex-column">
                <label for="carPark" class="my-2">CarPark:</label>
                <select (change)="carParkChange($event)"  
                        class=" select-style" formGroupName="carPark">
                        <option>Select CarPark</option>
                        <option *ngFor="let carPark of carParks" [ngValue]="carPark.id">{{carPark.id}}</option>
                </select>
            </div>
            <div class="flex flex-column">
                <label for="facility" class="my-2">Facility:</label>
                <select (change)="facilityChange($event)"  
                    class=" select-style" formGroupName="facility">
                    <option>Select Facility</option>
                    <option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.id}}</option>
                 </select>
            </div>
        </div>

        <div class="flex flex-row-reverse">
            <!-- <button class="btn-b"  [disabled]="contingentForm.invalid" (click)="submit()">Submit <i class="pi pi-check"></i></button> -->
            <p-button label="Submit" icon="pi pi-check" iconPos="right" (click)="submit()"/>
        </div>
    </form>
</div>

<div class="my-4 p-4" style="border: 1px solid #eee; border-radius: 5px;">
    <h3 style="opacity: 40%;">Contingents List</h3>

    <div>
    <p-table
        [value]="contingents"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Name</th>
                <th style="width:25%">Normal Days</th>
                <th style="width:25%">N.Capcity</th>
                <th style="width:25%">Weekend Days</th>
                <th style="width:25%">W.Capcity</th>
                <th style="width:25%">CarPark</th>
                <th style="width:25%">Facility</th>
                <th style="width:25%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contingent>
            <tr>
                <td>{{ contingent.name }}</td>
                <td>{{ contingent.startDate | date: 'dd/MM/yyyy'}} - {{ contingent.endDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{ contingent.normalValue }}</td>
                <td>{{ contingent.startDayOfWeek | date: 'dd/MM/yyyy'}} - {{ contingent.endDayOfWeek | date: 'dd/MM/yyyy'}}</td>
                <td>{{ contingent.weekendValue }}</td>
                <td>{{ contingent.carParkId }}</td>
                <td>{{ contingent.facilityId }}</td>
                <td>
                    <div class="flex flex-column gap-2">
                        <div>
                            <button class="btn" (click)="updateContingent(contingent.id)">Update</button>
                        </div>
                        <div>
                            <button class="btn" (click)="deleteContingent(contingent.id)">Delete</button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>


</div>