

<div class="flex justify-content-between align-items-center m-2" style="width: 100wv; border-bottom: 1px solid #eee;">

    <div class="ml-4">
        <h4>Scheidt&Bachmann</h4>
    </div>

    <div class="flex gap-3 align-items-center mr-4">
        <div>
            <select     >
                <option value="">EN</option>
                <option value="">DE</option>
            </select>
        </div>
        <div style="border: 1px solid #eee; padding: 11px;border-radius: 6px;">
            <a href="" routerLink="login">Logout</a>
        </div>
    </div>

</div>
