
<div style="border-right: 1px solid #eee; height: 100vh;">
    
    <div class="flex flex-column gap-4 p-4 ">
        <div class="flex flex-column gap-4 p-4">
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/carParks">CarPark</a>
            <a routerLink="/statistics">Statistics</a>
            <!-- <a routerLink="/facilities">Facility</a>
            <a routerLink="/counters">Counter</a>
            <a routerLink="/contingents">Contingent</a>
            <a routerLink="/jobs">Job</a> -->
        </div>
        <div class="p-4">
            <h4><i class="pi pi-angle-double-left mr-1"></i>Collapse</h4>
        </div>
    </div>

</div>
