/* .select-style{
        padding: 13px;
}

table, th, td {
    border-collapse: collapse;
    gap: 10px;
}

tr:nth-child(even) {
    background-color: #e9e9e9f1;
} */

select{
    background-color: white;
    border: none;
    border: 1px solid #b7b5b5;
    border-radius: 5px;
    color: #b7b5b5;
    font-size: 16px;
    height: 45px;
}

button{
    border:none;
    border-radius: 3px;
    padding: 4px;
    width: 200px;
}

a{
    text-decoration: none;
}


