
<div class=" flex p-4 my-4 justify-content-center" style="border: 1px solid #eee; border-radius: 6px;height: 300px;width: 400px;left: 50%;">

    <!-- <div>
        <img src="" alt="sheidt and bachmann">
    </div> -->

    <div class="flex flex-column gap-3">
        <h2>Sheidt & Bachmann</h2>
        <label style="font-size: 14px;">Tenant</label>
        <input type="text" pInputText />
        <!-- <label for=""></label> -->
        <!-- <input type="text" pInputText />         -->
    </div>

</div>

