
<div class="p-4 my-4 ml-8 justify-content-center align-items-center" style="border: 1px solid #eee; border-radius: 6px;height: 300px;width: 400px;">

    <!-- <div>
        <img src="" alt="sheidt and bachmann">
    </div> -->

            <form class="flex flex-column gap-3" [formGroup]="tenantForm">
                <h2 class="text-center">Sheidt & Bachmann</h2>
                <label style="font-size: 14px;">Tenant :</label>
                <input type="text" formControlName="tenantId" pInputText [(ngModel)]="tenantId"/>
                <p-button class="ml-1" label="Submit" (click)="login()" icon="pi pi-key"/>
            </form>

</div>

