<div>

    <!-- <div>
        <p-breadcrumb class="max-w-full" [model]="items">
            <ng-template pTemplate="item" let-item>
                <ng-container *ngIf="item.route; else elseBlock">
                    <a [routerLink]="item.route" class="p-menuitem-link">
                        <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                        <span class="text-primary font-semibold">{{ item.label }}</span>
                    </a>
                </ng-container>
                <ng-template #elseBlock>
                    <a [href]="item.url">
                        <span class="text-color">{{ item.label }}</span>
                    </a>
                </ng-template>
            </ng-template>
        </p-breadcrumb>
    </div> -->

    <div class="flex my-4" style="border: 1px solid #eee; border-radius: 5px;">
        <div class="ml-3">
            <h4 style="color: #4e4e4e;" [routerLink]="['/carParks']">
                <i class="pi pi-home mr-2 mt-1" style="color: #4e4e4e" [routerLink]="['/dashboard']"></i>
                <i class="pi pi-angle-right mr-2 mt-1" style="color: #4e4e4e"></i>
                <a href="" [routerLink]="['/carParks']">CarParks</a>
                <!-- CarPark -->
            </h4>
        </div>
        <div class="ml-3">
            <h4 style="color: #4e4e4e;">
                <i class="pi pi-angle-right mr-2 mt-1" style="color: #4e4e4e"></i>
                Facilities
            </h4>
        </div>
    </div>


    <div class="mt-5 ">
        <p-table 
        [value]="facilities" 
        styleClass="p-datatable-striped" 
        selectionMode="single"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
                <tr>
                    <!-- <th>Id</th> -->
                    <th pSortableColumn="facilityName">facilityName <p-sortIcon field="facilityName" /></th>
                    <th pSortableColumn="facilityNumber">facilityNumber <p-sortIcon field="facilityNumber" /></th>
                    <th pSortableColumn="facilityType">facilityType <p-sortIcon field="facilityType" /></th>
                    <th pSortableColumn="locationId">locationId <p-sortIcon field="locationId" /></th>
                    <th pSortableColumn="locationId">Action <p-sortIcon field="locationId" /></th>
                    <!-- <th pSortableColumn="description">description <p-sortIcon field="description" /></th> -->
                    <!-- <th pSortableColumn="deleted">deleted <p-sortIcon field="deleted" /></th> -->
                </tr>
        </ng-template>
            <ng-template pTemplate="body" let-facility let-rowIndex="rowIndex">
                <tr  
                    [pSelectableRow]="facility" [pSelectableRowIndex]="rowIndex">
                    <!-- <td>
                        <a [routerLink]="['/counters/facility', facility.id]">{{facility.id}}</a> 
                    </td> -->
                    <td [routerLink]="['/counters/facility', facility.id]">{{facility.facilityName}}</td>
                    <td>{{facility.facilityNumber}}</td>
                    <td>{{facility.facilityType}}</td>
                    <td>{{facility.locationId}}</td>
                    <td>
                        <div>
                            <p-toast />
                            <!-- <p-button (click)="updateFacility(facility.id)" label="Show" /> -->
                            <button class="btn" (click)="showUpdate()">Update</button>
                            <p-dialog header="Edit Facility" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }">
                                <span class="p-text-secondary block mb-5">Update your information.</span>
                                <form [formGroup]="facilityForm">
                                <div class="flex align-items-center gap-3 mb-3">
                                    <label for="username" class="font-semibold w-6rem" >Facility name</label>
                                    <input pInputText id="username" formControlName="facilityName" class="flex-auto" autocomplete="off" />
                                </div>
                                <div class="flex align-items-center gap-3 mb-5">
                                    <label for="email" class="font-semibold w-6rem" >Facility number</label>
                                    <input pInputText id="email" formControlName="facilityNumber" class="flex-auto" autocomplete="off" />
                                </div>
                                <div class="flex align-items-center gap-3 mb-5">
                                    <label for="email" class="font-semibold w-6rem">Facility type</label>
                                    <!-- <input pInputText id="email" class="flex-auto" autocomplete="off" /> -->
                                    <select formControlName="facilityType"><option *ngFor="let type of facilityTypes">{{type}}</option></select>
                                </div>
                                <div class="flex align-items-center gap-3 mb-5">
                                    <label for="email" class="font-semibold w-6rem">Facility locationId</label>
                                    <input pInputText id="email" formControlName="locationId" class="flex-auto" autocomplete="off"/>
                                </div>
                            </form>
                                <div class="flex align-items-center gap-3 mb-5">
                                    <label for="email" class="font-semibold w-6rem">Is Deleted</label>
                                    <p>yes</p>
                                    <p-checkbox 
                                    [(ngModel)]="isDeleted" 
                                    [binary]="true" 
                                    inputId="binary" 
                                    />
                                    <p>no</p>
                                    <p-checkbox 
                                    [(ngModel)]="!isDeleted" 
                                    [binary]="true" 
                                    inputId="binary" />
                                </div>
                                <div class="flex align-items-center gap-3 mb-5">
                                    <label for="email" class="font-semibold w-6rem">Description</label>
                                    <textarea 
                                        rows="3"
                                        cols="34" 
                                        pInputTextarea 
                                        >
                                    </textarea>
                                </div>
                                <div class="flex justify-content-end gap-2">
                                    <p-button label="Cancel" severity="secondary" (click)="cancleUpdate()" />
                                        <p-button label="Update" (click)="updateFacility(facility.id)" />
                                </div>
                                
                            </p-dialog>
                        </div>
                    </td>
                    <!-- <td>{{facility.description}}</td> -->
                    <!-- <td>{{facility.deleted}}</td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>