
<div class="my-4 p-4 m-4" style="border: 1px solid #eee; border-radius: 5px;">

<!--     
    <div>
        <div>
            <h3>{{jobDetails.jobName}}</h3>
            <h3>timezone</h3>
        </div>
        <h3>{{jobDetails.scheduleTime | date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
        <h3>{{jobDetails.lastFiredTime | date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
        <h3>{{jobDetails.nextFireTime | date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
        <h3>{{jobDetails.jobStatus}}</h3>
    </div> -->

    <div class="flex justify-content-between align-items-center">
        <h4 style="opacity: 30%;font-size: 12px;letter-spacing: 1px;">Job Id:ff3a4u34-edf3245-345grq42jr</h4>
        <div class="flex flex-row-reverse gap-1">
            <button class="btn" ><i class="pi pi-times mr-1"></i>Delete</button>
            <button class="btn" ><i class="pi pi-power-off mr-1"></i>Pause</button>
        </div>
    </div>


    <h3 style="opacity: 40%;">Failed job</h3>

    
   <div class="my-4 p-4" style="border: 1px solid #eee; border-radius: 5px;">

        <p style="color: #b1adad;">Error time and the other ones </p>

        <!-- <p-table [value]="jobDetails" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Job Name</th>
                    <th>Schedule Time</th>
                    <th>Last Fired Time</th>
                    <th>Next Fire Time</th>
                    <th>Job Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-job>
                <tr>
                    <td>{{job.jobName}}</td>
                    <td>{{job.scheduleTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td> 
                    <td>{{job.lastFiredTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{job.nextFireTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{job.jobStatus}}</td>
                </tr>
            </ng-template>
        </p-table> -->
   </div>

   <!-- <div class="card flex flex-row-reverse">
    <p-toast />
    <p-splitButton 
        label="Save" 
        (onClick)="save('info')" 
        [model]="items" />
    </div> -->
    
    
    <!-- <div class="flex flex-row-reverse gap-1">
        <button class="p-3" style="border: none;border-radius: 4px;font-size: 14px; color: black; opacity: 80%;"><i class="pi pi-times mr-1"></i>Delete</button>
        <button class="p-3" style="border: none;border-radius: 4px;font-size: 14px; color: black; opacity: 80%;"><i class="pi pi-power-off mr-1"></i>Pause</button>
        <p-button label="DELETE" 
            icon="pi pi-times"/>
        <p-button label="STOP" 
            icon="pi pi-power-off"/>
    </div> -->

</div>

<div class="my-4 p-4 m-4" style="border: 1px solid #eee; border-radius: 5px;">
    <h3 style="opacity: 40%;">History</h3>
    <p-accordion>
        <p-accordionTab header="Job scheduled">
            <div class="my-4">
                <p-table [value]="jobDetails" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Job Name</th>
                            <th>Schedule Time</th>
                            <th>Last Fired Time</th>
                            <th>Next Fire Time</th>
                            <th>Job Status</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-job>
                        <tr>
                            <td>{{job.jobName}}</td>
                            <td>{{job.scheduleTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td> 
                            <td>{{job.lastFiredTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{job.nextFireTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{job.jobStatus}}</td>
                        </tr>
                    </ng-template>
                </p-table>
           </div>
        </p-accordionTab>
        <p-accordionTab header="Processing job">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
            </p>
        </p-accordionTab>
        <p-accordionTab header="Job processing succeeded">
            <p>
                At vero eos et accusamus et iusto odio dignissimos...
            </p>
        </p-accordionTab>
        <p-accordionTab header="Job processing failed - An exception occurred">
            <p>
                At vero eos et accusamus et iusto odio dignissimos...
            </p>
        </p-accordionTab>
    </p-accordion>
</div>